body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .header {
    background-color: #bd5a5a;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .content {
    margin: 40px;
  }
  
  .content h2 {
    color: #701414;
    font-size: 24px;
    margin-top: 0;
  }
  
  .content ul {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .content li {
    margin-bottom: 10px;
    color: #701414;
  }
  
  .content h3 {
    color: #701414;
    font-size: 24px;
    margin-top: 0;
  }

.content h4{
  color: #701414;
    font-size: 24px;
    margin-top: 0;
}

  .content h6{
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .content p {
    color: #701414;
    margin-top: 0;
  }
  
  .content ul ul {
    margin-top: 5px;
    margin-left: 20px;
  }
  
  @media print {
    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  